.show-hide {
    position: relative;
}

.show-hide.ng-hide-remove-active {
    display: block;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.show-hide.ng-hide-add-active {
    display: block;
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.show-hide.ng-hide {
    opacity:0;
}